<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd  ">
	<!-- quartz任务详情工厂 -->
	<bean id="quartzJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="quartz" />
		</property>
		<property name="targetMethod">  <!-- 要执行的方法名称 -->
			<value>quartz</value>
		</property>
	</bean>
	<!-- 配置定时规则，Cron表达式 ,调度触发器 -->
	<bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		id="cronTrigger">
		<property name="jobDetail" ref="quartzJobDetail">
		</property>
		<!-- 秒 分 时 日 月 星期 -->
		<property name="cronExpression" value="0 41 10 ? * 1,2,3,4,5,6,7">
		</property>
	</bean>
	<!-- 调度工厂 -->
	<bean id="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
</beans>