body {
	font-family: tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei", 宋体,
		sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	background:#f7f7f8;
}
a,a:hover{
	text-decoration: none;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
	margin: 9px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 18px;
	color: inherit;
}
p {
	margin:0;
}

.sui-container h1 {
	font-size: 32px;
	line-height: 48px;
}

.sui-container h2 {
	font-size: 21.96px;
	line-height: 32.94px;
}
.sui-container h4{
	font-size:14.04px;
	line-height:21.06px;
}
ul, ol {
	padding: 0;
	margin: 0;
}

strong {
	font-weight: bold;
}

strong.strong-danger {
	color: #ea4a36;
}

body>.sui-navbar {
	font-size: 14px;
	overflow: visible;
}

.navbar-fixed-top, .navbar-fixed-bottom {
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0px;
}

.sui-navbar .navbar-inner::after {
	content: "";
	line-height: 0;
	display: table;
	clear: both;
}

body>.sui-navbar>.navbar-inner {
	padding-left: 25px;
}

.navbar-inverse .navbar-inner {
	background-color: #111111;
}

.sui-container, .footer {
	margin-left: auto;
	margin-right: auto;
}

.sui-container::after {
	content: "";
	line-height: 0;
	display: table;
	clear: both;
}

@media ( max-width :1400px) {
	.sui-navbar .sui-container {
		width: auto;
	}
	.main .sui-container, .footer {
		width: 1200px;
	}
	.syntaxhighlighter td.code .container{
		max-width: 800px !important;
	}
}

@media ( min-width :1400px) {
	.sui-navbar .sui-container {
		width: 1400px;
	}
	.main .sui-container, .footer {
		width: 1382px;
	}
	.syntaxhighlighter td.code .container{
		max-width: 950px !important;
	}
}

a {
	text-decoration: none;
	color:#28a3ef;
}

body>.sui-navbar .sui-brand {
	float: left;
	color: #aaaaaa;
	display: block;
	font-weight: normal;
	font-size: 32px;
	line-height: 48px;
	padding: 3px;
	margin-left: -20px;
}

body>.sui-navbar .sui-nav {
	margin-left: 50px;
	float: left;
	list-style: none;
	display: block;
	position: relative;
	left: 0;
}

li {
	list-style-type: none;
	line-height: 18px;
}

body>.sui-navbar .sui-nav>li>a {
	padding: 19px;
	color: #aaaaaa;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	display: block;
	cursor: pointer;
}

body>.sui-navbar .sui-nav>li.active>a, body>.sui-navbar .sui-nav>li a:hover,
	body>.sui-navbar .sui-brand:hover {
	color: White;
}

.sui-navbar .sui-nav>li {
	float: left;
}

sup {
	top: -0.5em;
	position: relative;
	line-height: 0;
	vertical-align: baseline;
}

.sui-text-danger {
	color: #ea4a36;
}

.main {
	margin-top: 70px;
}

p.sui-lead {
	margin-bottom: 18px;
	font-size: 15px;
	font-weight: normal;
	line-height: 22.5px;
}

.sui-page-header::before {
	content: "";
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url('../img/title-arrow.png') no-repeat;
	top: 4px;
	left: -50px;
}

.sui-page-header {
	margin-left: 50px;
	position: relative;
	border-bottom: 1px solid #666;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 27px;
}

ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none;
}

pre.prettyprint, sui-pre.prettyprint {
	margin-bottom: 18px;
}
pre, .sui-pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    margin-bottom: 9px;
    font-size: 11px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
code, .sui-code, pre, .sui-pre {
    padding: 0 3px 2px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 11px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ol.linenums li{
	list-style-type:decimal;
}
.sui-right{
	float:right;
	padding-left:15px;
	width:310px;
	border-left:1px solid #aaa;
	margin-top: 5px;
}
ul.right-ul{
	margin-left:10px;
}
.right-ul li{
	line-height:24px;
}
.right-ul li a:hover{
	color:#0E73AF;
}
.sui-right .div-right{
	margin-top:25px;
	margin-bottom:25px;
}
.face-div{
	float:left;
	margin-left:13px;
}
.author-intro{
	margin-left:73px;
}
.author-intro dl dt,.author-intro dl dd{
	display:inline-block;
	margin-left:2px;
}

.author-intro .area{
	font-size:13px;
}
.author-intro p{
	margin:5px;
	font-size:13px;
}
.div-right h5{
	margin-left:12px;
}
div.tag-cloud{
	padding-left:15px;
}
.tag-cloud a{
	border:1px solid #ebebeb;
	font-size:14px;
	line-height:1.5em;
	padding:2px 7px;
	margin:0 7px 10px 0;
	display:inline-block;
	color:#606060;
	border-radius:3px;
	font-weight:500;
}
.tag-cloud a:hover{
	color: #ffffff;
	background-color: #e67e22;
}
.tag-cloud-a-avtive{
	color: #ffffff;
	background-color: #e67e22;
}
.sui-content{
	margin-right:310px;
	padding-right:30px;
	padding-top: 3px;

}
.sui-content .article-top-info{
	margin: 30px 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
	height: 30px;
	
}
.sui-content .article-top-info .user-face{
	width:30px;
	height:30px;
}
.sui-content .article-top-info .user-face img{
	width:30px;
	height:30px;
	border-radius: 50%;
}
.sui-content .article-top-info .author{
	color:#333;
	margin-left: 12px;
	font-size: 12px;
	line-height: 30px;
}
.sui-content .article-top-info .author:hover{
	color:#4285f4;
}
.sui-content .article-top-info .publish-time{
	color:#999;
	margin-left: 10px;
	font-size: 12px;
	line-height: 30px;
}
.article-content{
	line-height:24px ;
}
.article-content img{
	max-width: 100%;
}


.syntaxhighlighter td.code .line{
	word-wrap: break-word;
}
.article-content h2{
	margin-left: 50px;
	position: relative;
	border-bottom: 1px solid #666;
	padding: 0;
	margin-top: 30px;
	margin-bottom: 27px;
}
.article-content h2:before{
	content: "";
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url('/static/img/title-arrow.png') no-repeat;
	top: 4px;
	left: -50px;
}
.footer{
	border-top:1px solid #aaa;
	color:#666;
	padding-left:15px;
	font-size:13px;
	margin-top:50px;
	
}
.footer ul li{
	padding:10px 0 5px;
}
/*index*/
.sui-container .ad,.sui-container .ad img{
		width:100%;
	}
	.sui-content .alist-head{
		border-bottom: 1px solid #eee;
		overflow: hidden;
		margin-top: 30px;
		padding-bottom: 15px;
		line-height: 20px;
	}
	.sui-content .alist-head .alist-tab .alist-title{
		color:#4285f4;
		padding-left: 10px;
		position: relative;
		margin-right: 45px;
		font-size: 16px;
	}
	.bluedot {
	    width: 4px;
	    height: 4px;
	    background: #4285f4;
	    border-radius: 4px;
	    overflow: hidden;
	    padding: 0;
	    display: block;
	    position: absolute;
	}
	.alist-tab .alist-title .bluedot{
		left: 3px;
		top: 50%;
		margin-top: -2px;
	}
	.sui-content .alist-body{
		
	}
	.sui-content .alist-body .alist{
		margin-bottom: 20px;
	}
	.alist .alist-item{
		padding: 20px 20px 20px 10px;
		border-bottom: 1px solid #eee;
		font-size: 12px;
		position: relative;
		overflow: hidden;
	}
	.alist .alist-item:hover{
		background: #FFFFFF;
	}
	.alist .alist-item .top-info{
		
	}
	.alist .alist-item .top-info .user-face{
		width:30px;
		height: 30px;
		border-radius: 50%;
	}
	.alist .alist-item .top-info img{
		width:30px;
		height: 30px;
		border-radius: 50%;
	}
	.alist .alist-item .top-info .author{
		color:#333;
		margin-left: 12px;
		font-size: 12px;
		line-height: 30px;
	}
	.alist .alist-item .top-info .author:hover{
		color:#4285f4;
	}
	.alist .alist-item .top-info .publish-time{
		color:#999;
		margin-left: 10px;
		font-size: 12px;
		line-height: 30px;
	}
	.alist .alist-item h2{
		line-height: 1;
		margin-bottom: 15px;
		font-size: 20px;
	}
	.alist .alist-item h2 a{
		color:#333;
		line-height: 1.5;
	}
	.alist .alist-item:hover h2 a{
		color:#4285f4;
	}
	.alist .alist-item h2 a span{
		color: #FFF;
		background: #F05F0E;
		border-radius: 2px;
		padding: 2px;
		font-weight: normal;
		margin-left: 5px;
		font-size: 16px;
	}
	.alist .alist-item .abstract{
		color: #666;
		height: 48px;
		line-height: 24px;
		overflow: hidden;
		font-size: 14px;
	}
	.alist .alist-item .info{
		overflow: hidden;
		line-height: 24px;
		padding-top: 15px;
	}
	.alist .alist-item .info > *{
		float:left;
		color:#999;
	}
	.alist .alist-item .info .tag{
		font-size: 12px;
		padding: 0 8px;
		line-height: 20px;
		color: #ee5e0f;
		background: #fff;
		border: 1px solid #ee5e0f;
		border-radius: 2px;
		margin-right: 16px;
	}
	.alist .alist-item .info p{
		margin-right: 20px;
		margin-top: 0;
	}
	.look-more-wrap{
		margin:20px 0;
	}
	.look-more-wrap a.look-more{
		display: block;
		background: #cdd8e3;
		line-height: 32px;
		color:#6483a2;
		text-align: center;
	}
/*categoryArticle*/
.category-list-wrap{
	margin-top: 30px;
	padding-bottom: 8px;
	background: #f2f2f2;
	margin-bottom: 35px;
}
.category-ul{
	
}
.category-li:first-child {
    border-top: 0 none;
}
.category-li {
   padding: 0 40px;
   border-top: 1px dashed #e7dede;
}
.category-li .title{
	line-height: 56px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
}
.category-li.active .title a{
	color:#4285f4
}
.category-li .title a{
	text-decoration: none;
	color: #333;
}